@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Moo+Lah+Lah&family=Press+Start+2P&family=Rubik+Beastly&family=Turret+Road&family=Wallpoet&display=swap');

/* font-family: 'Audiowide', cursive;
font-family: 'Bungee', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Moo Lah Lah', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Beastly', cursive;
font-family: 'Turret Road', cursive;
font-family: 'Wallpoet', cursive; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #FFE2D1;
}

header{
    text-align: center;
    margin: 5% 0 0 0;
}

h2{
    font-family: 'Turret Road', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: #947BD3 ;
    display: inline-block;
}

a{
    font-family: 'Rubik Beastly', cursive;
    font-size: 10rem;
    color: #d16014;
    text-transform: uppercase;
    font-weight: 50;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: #7fffd4;
}

ul{
    margin: 12% 10% 10% 10%;
    list-style: none;
}

li{
    font-family: 'Turret Road', cursive;
    font-size: 3rem;
    color: #947BD3;
    padding-bottom: 5%;
}

li p{
    margin: 3% 0 6% 5.5%;
    font-size: 2rem;
}

i{
    font-size: 6rem;
    color: #070707;
    padding-right: 3.4%;
}

footer{
    text-align: center;
}

footer a{
    font-size: 9.5rem;
}

footer a:nth-of-type(even){
    font-family: 'Turret Road', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFE2D1;
    padding-top: 8.5%;
    margin: 0 2% 3% 2%;
}

footer a:nth-of-type(2):hover{
    color: #947BD3;
}

footer a:nth-of-type(odd):hover{
    color: #d16014;
}

footer a:nth-of-type(odd):hover + a:nth-of-type(even){
    color: #947BD3;
}

footer a:nth-of-type(even)::before{
    content: "► ► ► ";
    font-size: 3rem;
    color: #070707;
}